
.Media {
  display: none;
}


.Content {
  margin: 0;
  //padding:0 5rem ;
  position: relative;
  //padding-bottom: 1000px;
  padding: 0 20vw;

  @media screen and (max-width: 390px) {
    .Content {
      position: relative;
      padding: 0;
    }
  }

  &_1 {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    min-height: 100vh;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

    &_module1 {
      display: flex;
      flex-direction: row;
      //padding-bottom: 10rem;
      background: #f8f5d6;
      justify-content: space-around;
      //height: 100vh;


      &_Left {
        //margin-top: 10vh;
        display: flex;
        flex-direction: column;
        color: #45465e;
        //padding-right: 5vw;


        h1.alpha {
          font-size: 4.2rem;
          @media screen and (max-width: 390px) {
            font-size: 40px;
            line-height: 1;
            margin: 100px 0 30px 0;
            display: flex;
            justify-content: center;
            //padding-left: 10vw;
          }
        }

        h1.alpha.animated {
          color: #ff6347;
          animation: ani 0.7s ease-in-out 1;
        }


        h2 {
          font-size: 30px;
          line-height: 1;
          @media screen and (max-width: 390px) {

            font-size: 20px;
            line-height: 2;
            display: flex;
            justify-content: center;
            padding: 0 20vw;
            margin: 0 20vw;

          }

        }

        &_Words {
          padding-top: 15px;
          display: flex;
          flex-direction: column;
          //font-family: Arial;
          color: black;

          span {
            color: #45465e;
            font-size: 30px;
          }
        }

      }

      &_Middle {
        margin-top: 10vh;
        width: inherit;
        display: block;
        height: inherit;
        //margin-top: 2.435em;
        //background-color: #fff;
        background-size: cover;
        background-position-x: center;
        //margin-left: -2.2em;
        //background-image: url(../me.jpg);
        //z-index: 1;
        opacity: 1;

        //border: 1px solid #FFFFFF;
        //border-radius: 50%;
      }

      &_Middle:hover {
        cursor: pointer;
        opacity: 0.99;
        z-index: 5;
      }

      &_Right {
        align-items: center;
        //padding-top: 3.0rem;
        font-size: 80px;
        //padding-top: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10vw;

        @media screen and (max-width: 390px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0;

          img {
            width: 50%;
          }
        }

        img {
          width: 100%;
          height: auto;
        }

        .canvas {
          height: 30vh;
          width: 30vw;
        }
      }

      &_Slide {
        position: relative;

        &_top {
          position: fixed;
          bottom: 40px;
          right: 25px;
          z-index: 20;
          background-color: #551B54;
          border: 2px solid #fff;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          color: #fff;
          cursor: pointer;
          animation: movebtn 3s ease-in-out infinite;
          transition: all .5s ease-in-out;
        }

        &_moduleMid {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        canvas {
          //  height: 30vh;
          //  width: 30vw;
          //
          // }
        }

        .app-outer {
          align-items: center;
          bottom: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          left: 0;
          padding: 20px 0;
          position: absolute;
          right: 0;
          top: 0;
        }

        .app-inner {
          display: flex;
          flex-direction: column;
          height: 100%;
          max-width: 1000px;
          width: 100%;
        }

        .tag-cloud {
          flex: 1;
        }

        .tag-cloud > div {
          transition: 1.4s;
        }

        .tag-item-wrapper {
          cursor: pointer;
          color: random();
        }

        .tag-item-wrapper:hover {
          z-index: 100;
        }

        .tag-item-wrapper:hover .tag-item-tooltip {
          display: block;
        }

        .tag-item-tooltip {
          background: #c01916;
          color: white;
          margin-top: 5px;
          z-index: 100;
          display: none;
          padding: 15px;
          font-size: 14px;
          line-height: 1;
          position: absolute;
          min-width: 60px;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
        }


        button:hover {
          animation: none;
          background: #fff;
          color: #551B54;
          border: 2px solid #551B54;
        }

        ul {
          li {
            list-style-type: none;
          }
        }
      }

      @keyframes movebtn {
        0% {
          transform: translateY(0px);
        }
        25% {
          transform: translateY(20px);
        }
        50% {
          transform: translateY(0px);
        }
        75% {
          transform: translateY(-20px);
        }
        100% {
          transform: translateY(0px);
        }
      }

      @keyframes ani {
        0% {
          transform: scale(1.2, 0.5);
        }
        16% {
          transform: scale(1.2, 0.5);
        }
        25% {
          transform: scale(1.2, 0.5);
        }
        32% {
          transform: scale(0.8, 1.1);
        }
        48% {
          transform: scale(-.95, 1);
        }
        64% {
          transform: scale(0.8, 1.2);
        }
        80% {
          transform: scale(1.15, 1);
        }
        87% {
          transform: scale(1.15, 1);
        }
        90% {
          transform: scale(0.8, 1);
        }
        95% {
          transform: scale(1.05, 1);
        }
        100% {
          transform: scale(1, 1);
        }
      }

      @media (min-width: 581px) {
        //&_Middle {
        //  background: linear-gradient(90deg, #4831d4 67%, #ccf381 33%);
        //}

      }


    }
  }

  &_2 {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    min-height: 100vh;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

    .sphere {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    .tagcloud {
      font-size: 24px;
      color: #45465e;
    }

    .tagcloud--item {
      padding: 5px 8px;
      background-color: transparent;
      border: 1px solid transparent;
      cursor: pointer;
    }

    .tagcloud--item:hover {
      //background-color: rgba(0,0,0,.1);

      border: 1px solid #b76189;
      border-radius: 8px;
      color: tomato;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      //border-radius: 2px;
      opacity: 1 !important;
      z-index: 100 !important;
    }

    .light .tagcloud--item {
      color: #fff;
    }

    .light .tagcloud--item:hover {
      background-color: rgba(255, 255, 255, .1);
      border: 1px solid #fff;
    }

    &_module2 {
      display: flex;
      flex-direction: row;
      min-height: 50vh;
      justify-content: space-around;
      padding-top: 10rem;
      gap: 10vw;

      @media screen and (max-width: 390px) {
        &_module2 {
          display: flex;
          flex-direction: column;
          min-height: 50vh;
          justify-content: space-around;
          padding-top: 10rem;
          gap: 10vw;
        }
      }


      h1 {
        margin: 0;
        font-size: 4em;
        font-weight: 900;
        line-height: 1.1;
        letter-spacing: -0.03em;
        color: #45465e;

        @media screen and (max-width: 390px) {
          margin: 0;
          font-size: 60px;
          font-weight: 900;
          line-height: 1.1;
          letter-spacing: -0.03em;
          color: #45465e;
          display: flex;
          justify-content: center;
        }
      }

      &_Left {
        display: block;
        align-items: flex-start;

      }

      p {
        max-width: 701px;
        font-size: 1.07em;
        -webkit-transition-delay: 310ms;
        transition-delay: 310ms;
        line-height: 1.6;
        color: #3d155f;
        display: block;
        align-content: center;
        margin-block-start: 1em;
        margin-block-end: 1em;
      }

    }
  }

  @media (min-width: 701px) {
    &_module2 {
      p {
        width: 32vw;
      }
    }

    &_moduleDown {
    }
  }


}


@media screen and (max-width: 390px) {
  .Content {
    display: none;
  }
  .Media {
    display: flex;
    margin: 0;
    position: relative;
    padding: 0;
    flex-direction: column;

    &_1 {
      display: flex;
      flex-direction: column;
      margin: 0 0 30px 0;
      padding: 0;

      &_module1 {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &_Left {
          display: flex;
          flex-direction: column;

          &_Words{
            span{
              max-width: 701px;
              font-size: 1.07em;
              -webkit-transition-delay: 310ms;
              transition-delay: 310ms;
              line-height: 1.6;
              color: #3d155f;
              display: flex;
              align-content: center;
              margin-block-start: 1em;
              margin-block-end: 1em;
              justify-content: center;
              padding: 0 20vw;
              margin: 0 20vw;
            }
          }

        }
      }
    }

    &_2 {
      display: flex;
      flex-direction: column;
      //justify-content: center;
      //min-height: 100vh;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;

      &_module2 {
        display: flex;
        flex-direction: column;
        //min-height: 50vh;
        justify-content: center;
        padding-top: 10rem;
        gap: 10vw;

        h1 {
          margin: 0;
          font-size: 60px;
          font-weight: 900;
          line-height: 1.1;
          letter-spacing: -0.03em;
          color: #45465e;
          display: flex;
          justify-content: center;
        }

        &_Left {
          display: block;
          align-items: center;

        }

        p {
          //padding-top: 50px;
          max-width: 701px;
          font-size: 1.07em;
          -webkit-transition-delay: 310ms;
          transition-delay: 310ms;
          line-height: 1.6;
          color: #3d155f;
          display: flex;
          align-content: center;
          margin-block-start: 1em;
          margin-block-end: 1em;
          justify-content: center;
          padding: 5vh 20vw;
          margin: 0 20vw;
        }

        .svg{
          display: flex;
          justify-content: center;
        }
      }
    }
  }

}


