
.Content {
  margin: 0;
  //padding:0 5rem ;
  position: relative;
  //padding-bottom: 1000px;
  padding: 0 20vw;
  &_1 {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    min-height: 100vh;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    &_module1 {
      display: flex;
      flex-direction: row;
      //padding-bottom: 10rem;
      background: #f8f5d6;
      justify-content: space-around;

      &_Left {
        //margin-top: 10vh;
        display: flex;
        flex-direction: column;
        color: #45465e;
        padding-right: 5vw;

        h1 {
          font-size: 6.2rem;

        }

        h2 {
          font-size: 2rem;
          line-height: 1;
        }

        &_Words {
          padding-top: 1.0rem;
          display: flex;
          flex-direction: column;
          //font-family: Arial;
          color: black;

          span {
            color: #45465e;
            font-size: 30px;
          }
        }
      }

      &_Middle {
        margin-top: 10vh;
        width: inherit;
        display: block;
        height: inherit;
        //margin-top: 2.435em;
        //background-color: #fff;
        background-size: cover;
        background-position-x: center;
        //margin-left: -2.2em;
        //background-image: url(../me.jpg);
        //z-index: 1;
        opacity: 1;

        //border: 1px solid #FFFFFF;
        //border-radius: 50%;
      }

      &_Middle:hover {
        cursor: pointer;
        opacity: 0.99;
        z-index: 5;
      }

      &_Right {
        align-items: center;
        //padding-top: 3.0rem;
        font-size: 80px;
        padding-top: 20vh;
      }

      &_Slide {
        position: relative;

        &_top {
          position: fixed;
          bottom: 40px;
          right: 25px;
          z-index: 20;
          background-color: #551B54;
          border: 2px solid #fff;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          color: #fff;
          cursor: pointer;
          animation: movebtn 3s ease-in-out infinite;
          transition: all .5s ease-in-out;
        }

        button:hover {
          animation: none;
          background: #fff;
          color: #551B54;
          border: 2px solid #551B54;
        }

        ul {
          li {
            list-style-type: none;
          }
        }
      }

      @keyframes movebtn {
        0% {
          transform: translateY(0px);
        }
        25% {
          transform: translateY(20px);
        }
        50% {
          transform: translateY(0px);
        }
        75% {
          transform: translateY(-20px);
        }
        100% {
          transform: translateY(0px);
        }
      }

      @media (min-width: 581px) {
        //&_Middle {
        //  background: linear-gradient(90deg, #4831d4 67%, #ccf381 33%);
        //}

      }


    }
  }
  &_module2 {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    justify-content: space-around;
    padding-top: 10rem;
    gap: 10vw;
    h1 {
      margin: 0;
      font-size: 4em;
      font-weight: 900;
      line-height: 1.1;
      letter-spacing: -0.03em;
      color: #45465e;
    }
    &_Left{
      display: block;
      align-items: flex-start;

    }

    p {
      max-width: 701px;
      font-size: 1.07em;
      -webkit-transition-delay: 310ms;
      transition-delay: 310ms;
      line-height: 1.6;
      color: #3d155f;
      display: block;
      align-content: center;
      margin-block-start: 1em;
      margin-block-end: 1em;
    }

  }
  @media (min-width: 701px){
    &_module2{
      p{
        width: 32vw;
      }
    }
  }

}