.Content {
  margin: 0;
  position: relative;
  padding: 0 20vw;
}
.Content_1 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}
.Content_1_module1 {
  display: flex;
  flex-direction: row;
  background: #f8f5d6;
  justify-content: space-around;
}
.Content_1_module1_Left {
  display: flex;
  flex-direction: column;
  color: #45465e;
  padding-right: 5vw;
}
.Content_1_module1_Left h1.alpha {
  font-size: 4.2rem;
}
.Content_1_module1_Left h1.alpha.animated {
  color: #ff6347;
  animation: ani 0.7s ease-in-out 1;
}
.Content_1_module1_Left h2 {
  font-size: 30px;
  line-height: 1;
}
.Content_1_module1_Left_Words {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  color: black;
}
.Content_1_module1_Left_Words span {
  color: #45465e;
  font-size: 30px;
}
.Content_1_module1_Middle {
  margin-top: 10vh;
  width: inherit;
  display: block;
  height: inherit;
  background-size: cover;
  background-position-x: center;
  opacity: 1;
}
.Content_1_module1_Middle:hover {
  cursor: pointer;
  opacity: 0.99;
  z-index: 5;
}
.Content_1_module1_Right {
  align-items: center;
  font-size: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10vw;
}
.Content_1_module1_Right img {
  width: 100%;
  height: auto;
}
.Content_1_module1_Right .canvas {
  height: 30vh;
  width: 30vw;
}
.Content_1_module1_Slide {
  position: relative;
}
.Content_1_module1_Slide_top {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
  background-color: #551B54;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}
.Content_1_module1_Slide_moduleMid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Content_1_module1_Slide .app-outer {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: 20px 0;
  position: absolute;
  right: 0;
  top: 0;
}
.Content_1_module1_Slide .app-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1000px;
  width: 100%;
}
.Content_1_module1_Slide .tag-cloud {
  flex: 1;
}
.Content_1_module1_Slide .tag-cloud > div {
  transition: 1.4s;
}
.Content_1_module1_Slide .tag-item-wrapper {
  cursor: pointer;
  color: 0.1805045432;
}
.Content_1_module1_Slide .tag-item-wrapper:hover {
  z-index: 100;
}
.Content_1_module1_Slide .tag-item-wrapper:hover .tag-item-tooltip {
  display: block;
}
.Content_1_module1_Slide .tag-item-tooltip {
  background: #c01916;
  color: white;
  margin-top: 5px;
  z-index: 100;
  display: none;
  padding: 15px;
  font-size: 14px;
  line-height: 1;
  position: absolute;
  min-width: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.Content_1_module1_Slide button:hover {
  animation: none;
  background: #fff;
  color: #551B54;
  border: 2px solid #551B54;
}
.Content_1_module1_Slide ul li {
  list-style-type: none;
}
@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes ani {
  0% {
    transform: scale(1.2, 0.5);
  }
  16% {
    transform: scale(1.2, 0.5);
  }
  25% {
    transform: scale(1.2, 0.5);
  }
  32% {
    transform: scale(0.8, 1.1);
  }
  48% {
    transform: scale(-0.95, 1);
  }
  64% {
    transform: scale(0.8, 1.2);
  }
  80% {
    transform: scale(1.15, 1);
  }
  87% {
    transform: scale(1.15, 1);
  }
  90% {
    transform: scale(0.8, 1);
  }
  95% {
    transform: scale(1.05, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
.Content_2 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}
.Content_2 .sphere {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.Content_2 .tagcloud {
  font-size: 24px;
  color: #45465e;
}
.Content_2 .tagcloud--item {
  padding: 5px 8px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}
.Content_2 .tagcloud--item:hover {
  border: 1px solid #b76189;
  border-radius: 8px;
  color: tomato;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  opacity: 1 !important;
  z-index: 100 !important;
}
.Content_2 .light .tagcloud--item {
  color: #fff;
}
.Content_2 .light .tagcloud--item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
}
.Content_2_module2 {
  display: flex;
  flex-direction: row;
  min-height: 50vh;
  justify-content: space-around;
  padding-top: 10rem;
  gap: 10vw;
}
.Content_2_module2 h1 {
  margin: 0;
  font-size: 4em;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -0.03em;
  color: #45465e;
}
.Content_2_module2_Left {
  display: block;
  align-items: flex-start;
}
.Content_2_module2 p {
  max-width: 701px;
  font-size: 1.07em;
  -webkit-transition-delay: 310ms;
  transition-delay: 310ms;
  line-height: 1.6;
  color: #3d155f;
  display: block;
  align-content: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
@media (min-width: 701px) {
  .Content_module2 p {
    width: 32vw;
  }
}

/*# sourceMappingURL=Content.css.map */
