
.footer{
  background: #fff2cc;
  //height: 50px;
  padding: -5% 5% 0 5%;
  //color: #757575;
  font-size: 16px;
  text-align: center;
  position: relative;
  color: #467897;
  //-webkit-box-shadow: inset 0px 1px 4px 0px rgb(0 0 0 / 10%);
  //-moz-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  //box-shadow: inset 0px 1px 4px 0px rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    li{
      text-decoration: none;
      list-style-type: none;
      //line-height: 92px;
      padding: 0 1em;
      font-size: 18px;
      //font-size: 20px;
    }
    li:hover{
      cursor: pointer;
      transform: scale(1.2);
    }
  }
  &_name{
    font-size: 20px;
    font-weight: bold;
  }
}

@media screen and (max-width: 390px){
  .footer{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;

    ul{
      //padding-right: 30px;
      margin-bottom: 30px;
      display: inline-block;
      align-content: center;
    }
    &_name{
      //font-size: 16px;
      font-weight: normal;
    }
  }
}